body {
	background-image: url('http://wallpaper-download.net/wallpapers/beautiful-wallpapers-colorful-balloons-wallpaper-wallpaper-36793.jpg');
}

#center {
	/*height: 100%;
	width: 100%;*/
/*	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;*/
   
   position: relative;
  /*top: 112px;*/

	
}

#form {

	padding: 30px;
	border-radius: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	background-color: #4F628E;
	height: 35%;
	width: 750px;
	margin: 20px auto 0 auto;
}

#form legend {
	font-family: 'Archivo Narrow', sans-serif;
	color:#ffffff;
	font-size:1.5em;
	/*padding:12px 37px;*/
	margin: 10px auto;
}

input {
	height: 40px;
	border-radius: 10%;
	font-size: 1.1em;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
/*	background-color:#7892c2;*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display: inline-block;
	width: 200px;
	margin: 0 3%;
}

button {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Archivo Narrow', sans-serif;
	font-size:2.0em;
	display: inline-block;
	margin: 0 auto;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

button:hover {
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}

#submit {
	margin-left: 37%;
	margin-top: 20px;
}

#refresh {
	margin-left: 24%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#output {
	padding: 20px 20px 20px 20px;
	background-color: #7887AB;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	margin-top: 20px;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display: none;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

#villain {
	padding: 20px 20px 20px 20px;
	background-color: #7887AB;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	margin-top: 20px;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display: none;
	text-align: center;
	color: white;
	font-size: 1.5em;
}








